
@font-face{
    font-family: "Nevis";
    src: url("./fonts/nevis.eot");
    src: url("./fonts/nevis.eot?#iefix") format("embedded-opentype"),
        url("./fonts/nevis.woff") format("woff"),
        url("./fonts/nevis.ttf") format("truetype"),
        url("./fonts/nevis.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

*{
    padding: 0px;
    margin: 0px;
}

body{
    background-image: url("../image/paven.png");
    background-repeat: repeat;
}

.simple-link{
    text-decoration: none;
    color: #70b231;
}

.simple-link:hover{
    text-decoration: underline;
    color:green;
}



/* PAGE HEADER */
#header{
    min-width: 1024;
    width: 100%;
    height: 250px;

    margin: 0px auto;
}

#header #logo{
    width: 770px;

    padding-top: 20px;
    margin: 0px auto;
}

#header #logo img{
    display: block;
    text-align: center;

    margin: 0px auto;
    width: 150px;
}

#title{
    text-align: center;
    text-transform: uppercase;

    margin-top: 10px;

    font-size: 40px;
    font-family: Nevis;
    letter-spacing: 3px;
    word-spacing: 5px;

    text-shadow: 0px 2px 1px rgb(58, 58, 58);

    transition: all 300ms;
}

#title:hover{
    text-shadow: 0px 2px 1px rgb(58, 58, 58), 0px 0px 5px #70b231;
}

#title a{
    text-decoration: none;

    color:#70b231;
}

/* NAVIGATION BAR */
#menu{
    width: 100%;
    height: 40px;

    background-color: #333;

    font-family: sans-serif, Helvetica, Arial;
    font-size: 14px;

    box-shadow: 0px 0px 2px gray;
}

#menu > ul{
    list-style: none;

    margin: 0px auto;
    width: 1130px;
}

#menu > ul > li{
    float: left;

    line-height: 40px;
    border-right: 1px solid gray;
}

#menu > ul > li > a{
    display: block;

    padding-left: 20px;
    padding-right: 20px;

    color: white;
    text-decoration: none;

    transition: all 750ms;
}

#menu > ul > li > a:first-child{
    border-left: 1px solid gray;
}

#menu > ul > li:hover{
    background-color: #70b231;
    box-shadow: 0px 0px 5px green inset;
    cursor: pointer;
}

#menu > ul > li > a:hover{
    text-shadow: 0px 0px 7px black;
}

/* DROOPDOWN MENU */
#menu > ul > li > ul{
    display: none;
    position: absolute;
    width: 160px;   

    list-style: none;

    box-shadow: 0px 2px 5px gray;

    z-index: 1;
}

#menu > ul > li:hover > ul{
    display: block;
}

#menu > ul > li:hover > ul > li{
    width: 100%;
    text-decoration: none;

    color: white;
    background-color: #F2F1F0;
    border-bottom: 1px solid #D6D6D6;

    transition: all 600ms;

}

#menu > ul > li:hover > ul > li > a{
    display: block;
    text-decoration: none;
    padding-left: 20px;

    font-size: 12px;

    color: #666666;
}

#menu > ul > li:hover > ul > li:hover{
    box-shadow: 0px 0px 7px #70b231 inset;
    background-color: #dbeec9; 
}

/* MAIN CONTENT OF THE PAGE */
#main-content{
    width: 1250px;
    min-height: 1100px;
    
    margin: 0px auto;
}

/* ASIDE CONTENT */
#aside, #quote{
    float: left;
    clear: both;

    width: 200px;
    margin: 30px;

    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0px 2px 3px #ccc;
    font-family: sans-serif;
}

#aside .widget{
    display: block;

    margin: 10px auto;
    padding: 20px;

    font-size: 14px;
    border-bottom: 1px dashed #333333;
}

#aside #links{
    margin-bottom: 10px;
}

#aside h3{
    display: block;

    width: 100%;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-bottom: 15px;

    color: #333333;
    text-align: center;
    background-color: #F2f3f2;
    border: 1px solid #ccc;
    border-left: none;
    border-right: none;
}

#aside #virtual-login1 h3{
    color: blue;
}

#aside #virtual-login2 h3{
    color: brown;
}

#aside li{
    margin-top: 8px;
    margin-bottom: 5px;
    margin-left: 20px;

    list-style: square;
}

/* MAIN CONTENT OF THE PAGE */
#content{
    float: none;

    width: auto;
    height: 700px;

    border: 1px solid black;
}

/* quote of the day */
#quote{
    box-sizing: border-box;
    padding: 10px;

    font-size: 14px;
}

/* forms */
#aside .widget input[type="text"],
#aside .widget input[type="password"],
#aside .widget label,
#aside .widget a{
    display: block;

    margin: 0px auto;
    margin-left: 0px;
    margin-top: 2px;
    margin-bottom: 2px;
}

#aside .widget label{
    text-align: center;
}

#aside .widget input[type="submit"],
#aside .widget input[type="button"],
#aside .widget button{
    margin: 5px auto;
    margin-bottom: 10px;
}

input[type="text"],
input[type="password"],
input[type="email"],
select{
    box-sizing: inherit;
    padding: 3px;
    padding-left: 8px;

    border: 1px solid #c9c9c9;
    box-shadow: 0px 0px 2px #ccc inset;
    color: rgb(170, 170, 170);

    transition: all 300ms;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
select:focus{
    border: 1px solid #70b231;
    box-shadow: 0px 0px 2px #70b231 inset, 0px 0px 2px #70b231;    
    color: black;
}

input[type="submit"],
input[type="button"],
input[type="reset"],
button{
    display: block;

    width: 60px;
    padding: 3px;

    border: 1px solid green;
    border-radius: 2px;
    background-color: #70b231;
    color: white;
    cursor: pointer;

    transition: all 200ms;
}

input[type="submit"]:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
button:hover{
    box-shadow: 0px 0px 5px gray;
}

input[type="submit"]:active,
input[type="button"]:active,
input[type="reset"]:active,
button:active{
    box-shadow: 0px 0px 2px grey inset;
}

/* ANIMATIONS */