/* Selector universal */
*{
    font-weight: bold;
}

/* Selectores de etiqueta */
body{
    background: blueviolet;
}

h1{
    background-color: violet;
    color: black;
    font-size: 50px;
    text-decoration: wavy;
    padding: 15px;
}

a{
    padding: 0px;
    text-decoration: solid;
    font-size: 20px;
    color: violet;
}

/* Selector de etiqueta dentro de una etiqeuta */
footer a{
    color: blue; 
}

/* Selector de ID */
#descripcion, #formulario form{
    margin-top: 10px;
    border: 5px solid paleturquoise;
    border-radius: 1px;
    padding: 10px;
}

#formulario form *{
    display: block;
}

/* Selector de atributo */
input[type="text"]{
    padding: 3px;
    margin: 10px;
}

input[type="submit"]{
    background-color: paleturquoise;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    border: 2px black dashed;
    cursor: context-menu;
}

/* Selector de herencia
    dentro de li cogemos el ul, luego el li y su a
*/
li > ul > li > a{
    color: black;
}
